{% load static %}
<html>
<head>
    <title>FyleAccounting</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-light" style="background-color: rgba(34,0,51,.94);" id="app-name">
  <a class="navbar-brand" href="#" style="color:var(--white); font-size:30px">
    <img src="https://staging.fyle.in/app/main/assets/images/icons/fyle_logo_white_new.png" width="110" height="40" class="d-inline-block align-top" alt="Fyle">
  </a>
</nav>
<br/>

<section class="bar"><div class="container"><div class="row"><div class="col col-12"><h1 align="center">Fyle Accounting Integrations</h1></div></div></div></section><br/><br/>

    <form action="/credentials_generator/get_tokens/" method="post">
              {% csrf_token %}
        <div class="container" style="width:50%">

            <div class="form-group">
                <label for="auth_code">Authorization Code </label>
                <input type="text" class="form-control" id="auth_code" name="auth_code" value="{{ auth_code }}" required="true" readonly>
            </div>
            <button type="submit" class="btn btn-primary btn-md" style="background-color:#f36; border-color:#f36">Get Tokens</button>
        </div>

    </form>
</body>
</html>
